// Specific CSS for your home-page
.main-heading {
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px rgba(34,20,8,0.6);
  position: relative;
  top: 10px;
  margin-bottom: 20px;
}

body {
  background-color: #FA5;
  height: 100vh;
}

.card-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 20px;
}

.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}



// body, html {
//   height: 100%;
// }

// .background-img {
//   background-image: url("https://unsplash.com/photos/GXXYkSwndP4");
//   height: 100%;
//   width: 100%;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
// }
