.btn-light {
  font-family: 'Permanent Marker', cursive;
  background-color: #EE6663;
  font-size: 24px;
  border-radius: 4px;
  border: 0px;
}

.home-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
